.search, .landing {
    display: block;
    background-color: rgb(195, 195, 195);
    border: 0.2rem black solid;
    padding: 0.2rem;
}

.search {
    width: 28rem;
}

.search-bar {
    display: flex;
    flex-flow: nowrap row;
}

.search-bar > * {
    margin: 0.1rem;
}

.header, .count, .sentiment {
    display: flex;
    align-items: center;
    flex-direction: row;
    word-wrap: break-word;
    justify-content: space-around;
    border: 0.1rem black solid;
}

.count, .sentiment {
    width: auto;
}

.description {
    border: 0.1rem black solid;
}

.likes, .dislikes {
    display: flex;
    align-items: center;
    flex-flow: nowrap row;
}

.likes > *, .dislikes > * {
    margin: 0.1rem;
}

.dislikes {
    background-color: rgb(163, 92, 92);
}

.dislikes:hover {
    color: rgb(88, 82, 82);
    background-color: rgb(183, 102, 102);
}

.title {
    display: inline-block;
    margin: 1rem;
}

.stats {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
